@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");

*,
*::after,
*::before {
  user-select: none;
  box-sizing: border-box;
}

:root {
  height: 100%;
}

body {
  height: 100%;

  margin: 0;
  background-color: #fffdeb;

  overflow: hidden;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: gray;
}

a:active {
  color: lightgray;
}

img {
  image-rendering: pixelated;
}

.center {
  height: 100%;
  padding: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pixel-font {
  font-family: "Tiny5", monospace;
}

.title {
  position: relative;
  line-height: 1.7rem;
}

.title::after {
  content: "fishtwo";

  position: absolute;
  left: 2px;

  color: #999999;
  z-index: -1;
}

.subtitle {
  position: relative;
  z-index: 1;
  font-size: 1.2rem;

  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  row-gap: 0;
  justify-content: center;
}

.origin {
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}

.small {
  position: absolute;
  z-index: -2;
}

.small:nth-child(1) {
  bottom: 240px;
  right: 310px;
  transform: rotate(20deg) scale(0.9);
}

.small:nth-child(2) {
  top: 300px;
  left: 260px;
  transform: rotate(-3deg);
}

.small:nth-child(3) {
  bottom: 333px;
  left: 367px;
  transform: rotate(15deg) scale(1.2);
}

.small:nth-child(4) {
  top: 200px;
  left: 550px;
  transform: rotate(50deg) scale(0.7);
}

.small:nth-child(5) {
  top: 320px;
  left: 320px;
}

.small:nth-child(6) {
  bottom: 478px;
  left: 522px;
  transform: rotate(-17deg);
}

.small:nth-child(7) {
  top: 409px;
  right: 500px;
  transform: scale(1.4);
}

.small:nth-child(8) {
  top: 500px;
  left: 827px;
  transform: scale(0.9) rotate(80deg);
}

.small:nth-child(9) {
  bottom: 586px;
  right: 982px;
  transform: rotate(27deg);
}
