@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");

*,
*::after,
*::before {
  user-select: none;
  box-sizing: border-box;
}

:root {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;

  margin: 0;
  background-color: #fffdeb;

  overflow: hidden;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: gray;
}

a:active {
  color: lightgray;
}

img {
  image-rendering: pixelated;
}

.center {
  height: 100%;
  padding: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pixel-font {
  font-family: "Tiny5", monospace;
}

.title {
  position: relative;
  line-height: 1.7rem;
}

.title::after {
  content: "fishtwo";

  position: absolute;
  left: 2px;

  color: #999999;
  z-index: -1;
}

.subtitle {
  position: relative;
  z-index: 1;
  font-size: 1.2rem;

  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  row-gap: 0;
  justify-content: center;
}

.origin {
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;

  --1x: 240px;
  --1y: 310px;
  --2x: 300px;
  --2y: 260px;
  --3x: 333px;
  --3y: 367px;
  --4x: 200px;
  --4y: 550px;
  --5x: 320px;
  --5y: 320px;
  --6x: 478px;
  --6y: 522px;
  --7x: 409px;
  --7y: 500px;
  --8x: 500px;
  --8y: 827px;
  --9x: 586px;
  --9y: 982px;
}

.small {
  position: absolute;
  z-index: -2;
}

.small:nth-child(1) {
  bottom: var(--1x);
  right: var(--1y);
  transform: rotate(20deg) scale(0.9);
}

.small:nth-child(2) {
  top: var(--2x);
  left: var(--2y);
  transform: rotate(-3deg);
}

.small:nth-child(3) {
  bottom: var(--3x);
  left: var(--3y);
  transform: rotate(15deg) scale(1.2);
}

.small:nth-child(4) {
  top: var(--4x);
  left: var(--4y);
  transform: rotate(50deg) scale(0.7);
}

.small:nth-child(5) {
  top: var(--5x);
  left: var(--5y);
}

.small:nth-child(6) {
  bottom: var(--6x);
  left: var(--6y);
  transform: rotate(-17deg);
}

.small:nth-child(7) {
  top: var(--7x);
  right: var(--7y);
  transform: scale(1.4);
}

.small:nth-child(8) {
  top: var(--8x);
  left: var(--8y);
  transform: scale(0.9) rotate(80deg);
}

.small:nth-child(9) {
  bottom: var(--9x);
  right: var(--9y);
  transform: rotate(27deg);
}
